*{
  font-family: Helvetica, Arial, sans-serif;
  line-height - 1.6
}
html{
background-image: url(img/bg.jpg);
  border: 2px solid #ffd24a;
  margin: 10px 50px;
  padding: 0;
}
body{
  margin: 0;
  background-color: white;
}
header {
  background-color: #ff8523;
  padding: 20px;
}
.main_navigation a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  border: 1px solid white;
  padding: 5px 25px;
  border-radius: 5px;
}
#page_content{
  padding: 15px;
}
h2{
color: #1fabe5;
padding: 10px 0;
}
h3{
  color: #1fabe5;
}
section p a{
 color: #1fabe5;
}
ul{
  font-weight: bold;
}
#page_content > section{
  border-bottom: 2px solid lightgrey;
}
table{
  background-color: #1fabe5;
}
table img{
 height: 50px;
  width: 50px;
}
table td{

  background-color: white;
  padding: 10px;
  margin: 0;
}
table thead td{
  color: white;
  background-color: #1fabe5;
}
/*
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
